.thread-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.thread-frame {
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.thread-item {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px 0 10px 30px;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: left;
}

.thread-item:last-child {
  margin-bottom: 100px;
}

.pagination-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}